.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
.github/**
.gitignore
.yarnrc
esbuild.js
scripts/**
tsconfig*.json
eslint.config.mjs
vsc-extension-quickstart.md
ARCHITECTURE.md
CHROMADB_QUERIES.md
INDEXING_PROCESS.md
!CLA.md
!CONTRIBUTING.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
